:root {
  --main-bg-color: #111827;
  --input-box-color: #444059;
  --btn-bg-color: #28a9f1;
  --btn-txt-color: #04131c;
  --light-txt-color: #ffffff;
  --txt-color: #1b1924;
  --placeholder-color: #8f8f8f;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--txt-color);
}

img {
  width: clamp(4rem, 20%, 10rem);
}

h1,
h2 {
  color: var(--light-txt-color);
  text-align: center;
}

/* header {
  padding: 3rem 0 1rem 0;
} */

.wrapper {
  background: var(--main-bg-color);
  padding: 5rem;
}

main,
li {
  font-family: "Inter", sans-serif;
}

header,
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  width: 21rem;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
  transform: translateX(-1.2rem);
}

li {
  display: flex;
  flex-direction: column;
  width: 19rem;
  background: #fff;
  padding: 0.3rem 1rem;
  border-radius: 0.1rem;
}

.input-box {
  background: var(--input-box-color);
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  color: var(--light-txt-color);
}

#input-message {
  width: 20rem;
  height: 7rem;
  resize: none;
  padding: 1rem;
}

.input-boxes-small {
  display: flex;
  justify-content: space-between;
  width: 21rem;
}

#input-to,
#input-from {
  width: 9rem;
  height: 2.5rem;
  text-align: center;
}

#btn-publish {
  font-size: 1.5rem;
  padding: 0.5rem 2rem 0.3rem 2rem;
  background: var(--btn-bg-color);
  border-radius: 0.5rem;
  width: 21rem;
  height: 4rem;
  color: var(--btn-txt-color);
  transition: transform 300ms;
}

#btn-publish:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 50ms;
}

#btn-publish:active {
  transform: scale(0.95);
  transition: transform 50ms;
}

.endorsement-from-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.likes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 1rem;
}

.heart-icon {
  font-size: 1rem;
  font-weight: 700;
  color: var(--txt-color);
  background-color: transparent;
  border: 0.01rem solid transparent;
  margin: 0;
  padding: 0;
  transition: all 300ms;
}

.heart-icon:hover {
  color: #ce0202;
  transform: scale(1.1);
}

.heart-icon:active {
  color: #ce0202;
  transition: all 50ms;
  transform: scale(0.9);
}

.paragraph-msg {
  font-size: 0.9rem;
}

.paragraph-bold,
.likes-number {
  font-size: 0.9rem;
  font-weight: 700;
}

h1,
h2,
#btn-publish {
  font-family: "Josefin Sans", sans-serif;
}

ul,
li {
  color: var(--txt-color);
}
